<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static',filename='img/fuck.ico') }}" rel="shortcut icon">
    <title>Fuck The Dog -- 日了狗了</title>

    <link href='{{ url_for('static',filename='css/base.css') }}' rel='stylesheet' type='text/css'>
    <link href='{{ url_for('static',filename='css/magnific-popup.css') }}' rel='stylesheet' type='text/css'>

    <script src='{{ url_for('static',filename='js/jquery.min.js') }}'></script>
    <script src='{{ url_for('static',filename='js/jquery.masonry.min.js') }}'></script>
    <script src='{{ url_for('static',filename='js/jquery.magnific-popup.min.js') }}'></script>
    <script src='{{ url_for('static',filename='js/bootstrap.min.js') }}'></script>

    {% block css %}
    {% endblock %}

    {% block js %}
    {% endblock %}

</head>

<body background="{{ url_for('static',filename='img/bg.jpg') }}">
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container nav-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">&gt;&gt;&gt; FuckTheDog</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">/All</a></li>
                <li><a href="/released">/Released</a></li>
                <li><a href="/tag">/Tags</a></li>
                <li><a href="/star">/Stars</a></li>
                <li><a href="https://github.com/YieldNull/avmoo" target="_blank">/Github</a></li>
            </ul>
            <form action="/search" class="navbar-form navbar-right" method="get" role="search">
                <div class="form-group">
                    <input autocomplete="off" class="form-control input-xs" name="q" placeholder="Search"
                           style="width: 140px;" type="text" value="">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid">
    {% block body %}
    {% endblock %}

    {% block bottom %}
    {% endblock %}

    <footer>
        <hr>
        <p style="text-align: center">
            By &nbsp;&nbsp; <a href="http://yieldnull.com">YieldNull</a>
        </p>
    </footer>
</div>
</body>
</html>