<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Func The Dog !!!</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='material.min.css') }}">
    <script src="{{ url_for('static',filename='material.min.js' ) }}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Fuck The Dog</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
                <label class="mdl-button mdl-js-button mdl-button--icon"
                       for="fixed-header-drawer-exp">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" name="sample"
                           id="fixed-header-drawer-exp">
                </div>
            </div>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="#scroll-tab-1" class="mdl-layout__tab is-active">最新</a>
            <a href="#scroll-tab-2" class="mdl-layout__tab">女优</a>
            <a href="#scroll-tab-3" class="mdl-layout__tab">类别</a>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">哔了狗了</span>
        <nav class="mdl-navigation">
            <hr>
            <a class="mdl-navigation__link" href="">日本骑兵</a>
            <a class="mdl-navigation__link" href="">亚洲无码</a>
            <a class="mdl-navigation__link" href="">欧美高清</a>
            <hr>
            <a class="mdl-navigation__link" href="">数据库文件</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-2">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-3">
            <div class="page-content"><!-- Your content goes here --></div>
        </section>
    </main>
</div>


</body>
</html>