{% extends 'base.html' %}

{% block css %}
    <link href='{{ url_for('static',filename='css/index.css') }}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
    <div class="row">
        <div id="waterfall" style="position: relative; height: 2070px; width: 1122px;" class="masonry">
            {% for star in stars %}
                <div class="item masonry-brick" style="position: absolute; top: 0px; left: 0px;">
                    <a class="avatar-box text-center" href="/star/{{ star.sid }}">
                        <div class="photo-frame">
                            <img src="{{ star.img }}" title="{{ star.name }}">
                        </div>
                        <div class="photo-info">
                            <span>{{ star.name }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <script language="JavaScript">
        (function ($) {
            $('#waterfall').masonry({itemSelector: ".item", isAnimated: false, isFitWidth: true});
        })(jQuery);
    </script>
{% endblock %}

{% block bottom %}
    {% set current_page = pagination.get_page() %}
    {% set page_count = pagination.get_page_count() %}

    <div class="bottom">
        <ul class="pager">
            <li class="previous {{ 'disabled' if current_page==1 or '' }}">
                <a href="{{ './?page=%d'%(current_page - 1) if current_page>1 else 'javascript:void(0)' }}">
                    « Previous {{ '%d / %d'%(current_page - 1,page_count) if current_page>1 else '' }}
                </a>
            </li>

            <li style="margin-left: 20px" class="next {{ 'disabled' if current_page==page_count or '' }}">
                <a href="{{ './?page=%d'%(current_page + 1) if current_page< page_count else 'javascript:void(0)' }}">
                    Next {{ '%d / %d'%(current_page + 1,page_count) if current_page< page_count else '' }} »
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

</body>
</html>